@page
@model OpenVMSys.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">This site contains OpenVMSys3 Service</h1>
    <div class="container-fluid pb-3">
        <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr;">
          <div class="bg-light border rounded-3">
            <br><br><br><br><br><br><br><br><br><br>
          </div>
          <div class="bg-light border rounded-3">
            <br><br><br><br><br><br><br><br><br><br>
          </div>
        </div>
      </div>
</div>